@import "tailwindcss";

:root {
  --background: #FCF9F1; /* Soft Cream */
  --foreground: #171717;
}

@theme inline {
  --color-primary: #228B22;   /* Forest Green */
  --color-secondary: #FFD700; /* Golden Yellow */
  --color-alert: #ef4444;
  --color-softcream: #FCF9F1; /* Soft Cream */
  --color-purewhite: #FFFFFF; /* Pure White */
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FCF9F1; /* Keep Cream for 'Local & Organic' vibes */
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior-y: none; /* Good for PWA bounce feel */
}

.hide-scrollbar::-webkit-scrollbar { display: none; }
.hide-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
